@model DreamLife.Models.PackageViewModel

<style>
    table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border-width:0;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    tr {
        border-radius:10px;
    }

    tr:hover {
        background-color: #ddd;
    }
</style>
<div>    
    <div style="display: flex; justify-content: space-between;">
        <form method="post" class="form">
            <h3>Buy Package</h3>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <label asp-for="Amount" placeholder="Name">Package Amount:</label>
                <input asp-for="Amount" class="input" />
                <span asp-validation-for="Amount"></span>
            </div>
            <button type="submit" class="login-button">Buy</button>
        </form>
    </div>
</div>
