@{
    ViewData["Title"] = "Contact Us";
    Layout = "_LayoutDefault";
}
<br />
<div class="row">
    <div class="col-md-6">
        <br />
        <h1>Contact US</h1>
        <p>Use this page to detail your site's privacy policy.</p>
    </div>
    <div class="col-md-6">
        <br />
        <img src="~/images/vim1.jpeg" width="270px" height="200px" />
        <img src="~/images/vim4.jpeg" width="270px" height="200px" />
        <img src="~/images/vim2.png" width="270px" height="200px" />
        <img src="~/images/vim3.jpeg" width="270px" height="200px" />
    </div>
</div>
