@{
    ViewData["Title"] = "Home";
    Layout = "_LayoutDefault";
}
<link href="~/css/Home.css" rel="stylesheet" />


<div class="row">
    <div class="col-md-6 anim-left">
        <img class="zoom-effect" src="~/images/im2.jpeg" width="450px" height="350px" />
    </div>
    <div class="col-md-6 anim-right">
        <br />
        <h1 class="home-heading text-hover">MLM</h1>
        <p class="home-paragraph text-hover">Multilevel marketing (MLM) is one of the strongest pillars of marketing, allowing you to multiply your investment. MLM encourages existing members to promote and share their offerings to other individuals, bringing new investment into the business. Investors are paid a percentage of their investments and referrals.</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6 anim-left">
        <h1 class="home-heading text-hover">Our Plan</h1>
        <p class="home-paragraph text-hover">We are one of the successful companies in Multilevel marketing, offering many plans to get more returns on the investment. We don't want to waste your money by promoting products and their sales. We follow a traditional approach in investment. You need to invest as per your financial comfort, and the main benefit from our company is that you will get returns from day one of your investments. Not only the investment, but you can also get referral benefits by introducing new members to the business.</p>
    </div>
    <div class="col-md-6 anim-right">
        <img class="zoom-effect" src="~/images/im1.jpeg" width="450px" height="350px" />
    </div>
</div>
