@{
    ViewData["Title"] = "Home";
    Layout = "_LayoutDefault";
}
<style>
    .NotificationPanel {
        background-color: black;
        color: white;
        text-align: center;
        display: block;
    }
</style>
<div class="NotificationPanel">
    <div style="padding:6px 20px">
        Wanna fullfil your Dreams ? let's Explore
    </div>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
