@{
    ViewData["Title"] = "Home";
    Layout = "_LayoutDefault";
}
<style>
    .NotificationPanel {
        background-color: black;
        color: white;
        text-align: center;
        display: block;
        margin-left: -125px;
        margin-right: -125px;
    }
</style>
<div class="NotificationPanel">
    <div style="padding:6px 20px;font-style:italic;">
        <b>Wanna fullfil your Dreams ? let's Explore</b>
    </div>
</div>
<br />
<div class="row">

    <div class="col-md-6">
        <img src="~/images/im2.jpeg" width="450px" height="350px" />
    </div>
    <div class="col-md-6">
        <br />
        <h1>MLM</h1>
        <p>Multilevel marketing (MLM) is one of the strongest pillars of the marketing which allows you to multiply our investment. MLM also encourages existing members to promote and share their offerings to other individuals and bring new investment into the business. Investors are paid a percentage of their investments and referals.</p>
    </div>

</div>
<br />
<div class="row">

    <div class="col-md-6">
        <h1>Our plan</h1>
        <p>We are one of the successfull companies in Multilevel marketing and we offers you many plans to get more returns on the investment. We dont want to waste your money by promoting products and their sales. We follow the traditional approach in the investment. You need to invest as per your financial comfort and the main benefit from our company is like you will get the returns from the day one of you investments. Not only the investment, you can get the referanl benefit by introducing new members to the business.</p>
    </div>
    <div class="col-md-6">
        <img src="~/images/im1.jpeg" width="450px" height="350px" />
    </div>

</div>

