@{
    ViewData["Title"] = "Home";
    Layout = "_LayoutDefault";
}
<link href="~/css/Home.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-6 anim-left">
        <img class="zoom-effect" src="~/images/im2.jpeg" width="450px" height="350px" />
    </div>
    <div class="col-md-6 anim-right">
        <br />
        <h1 class="home-heading">MLM</h1>
        <div class="home-heading-container">
            <div class="blinking-line"></div>
        </div>
        <p class="home-paragraph text-hover">Multilevel marketing (MLM) is one of the strongest pillars of marketing, allowing you to multiply your investment. MLM encourages existing members to promote and share their offerings to other individuals, bringing new investment into the business. Investors are paid a percentage of their investments and referrals.</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6 anim-left">
        <h1 class="home-heading">Our Plan</h1>
        <div class="home-heading-container">
            <div class="blinking-line"></div>
        </div>
        <p class="home-paragraph text-hover">We are one of the successful companies in Multilevel marketing, offering many plans to get more returns on the investment. We don't want to waste your money by promoting products and their sales. We follow a traditional approach in investment. You need to invest as per your financial comfort, and the main benefit from our company is that you will get returns from day one of your investments. Not only the investment, but you can also get referral benefits by introducing new members to the business.</p>
    </div>
    <div class="col-md-6 anim-right">
        <img class="zoom-effect" src="~/images/im1.jpeg" width="450px" height="350px" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12 anim-left">
        <h1 class="home-heading" style="text-align: center;">How it works ?</h1>
        <div class="home-heading-container">
            <div class="blinking-line"></div>
        </div>
        <p class="home-paragraph text-hover">We are one of the successful companies in Multilevel marketing, offering many plans to get more returns on the investment. We don't want to waste your money by promoting products and their sales. We follow a traditional approach in investment. You need to invest as per your financial comfort, and the main benefit from our company is that you will get returns from day one of your investments. Not only the investment, but you can also get referral benefits by introducing new members to the business.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 anim-left zoom-effect" style="border-radius: 20px; border: 2px solid; background: #ec4122e3; text-align: center; height: 90px;width: 200px;margin: 30px">
        <h5 style="padding-top: 25px;"> Invest</h5>
    </div>
    <div class="col-md-3 anim-left zoom-effect" style="border-radius: 20px; border: 2px solid; background: #ec4122d4; text-align: center; height: 90px;width: 200px;margin: 30px">
        <h5 style="padding-top: 25px;">Get ROI</h5>
    </div>
    <div class="col-md-3 anim-right zoom-effect" style="border-radius: 20px; border: 2px solid; background: #ec4122b8; text-align: center; height: 90px;width: 200px;margin: 30px">
        <h5 style="padding-top: 25px;">Refer</h5>
    </div>
    <div class="col-md-3 anim-right zoom-effect" style="border-radius: 20px; border: 2px solid; background: #ec41227d; text-align: center; height: 90px;width: 200px;margin: 30px">
        <h5 style="padding-top: 25px;"> Get LevelIncome</h5>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var headings = document.querySelectorAll('.home-heading');
        headings.forEach(function (heading) {
            var width = heading.offsetWidth;
            var line = heading.nextElementSibling.querySelector('.blinking-line');
            line.style.width = width + 'px';
        });
    });
</script>
