@{
    ViewData["Title"] = "Vision";
    Layout = "_LayoutDefault";
}
<br />
<div class="row">
    <div class="col-md-6">
        <br />
        <h1>Our Vision</h1>
        <p>The first policy of our company is to make secure investment by adopting principles of network marketing. This will ensure that investor will be under safe hands and gain more benefits.</p>
        <p>The second policy is to provide an opportunity to everyone by limiting the range of investment.</p>
        <p>We are working towards to make our investors financially free.</p>
        <p>Not only the investment, Member can get referal benefit by introducing new member into the business.</p>
        <p>Unlike traditional marketing, Member can get ROI from the day one of the investment.</p>
    </div>
    <div class="col-sm">
        <br />
        <img src="~/images/vim1.jpeg" width="270px" height="200px" />
        <img src="~/images/vim4.jpeg" width="270px" height="200px" />
        <img src="~/images/vim2.png" width="270px" height="200px" />
        <img src="~/images/vim3.jpeg" width="270px" height="200px" />
    </div>
</div>
