@{
    ViewData["Title"] = "Vision";
    Layout = "_LayoutDefault";
}
<link href="~/css/Home.css" rel="stylesheet" />
<br />
<div class="row">
    <div class="col-md-6 anim-bottom">
        <br />
        <h1 class="home-heading">Our Vision</h1>
        <p class="home-paragraph">The first policy of our company is to make secure investment by adopting principles of network marketing. This will ensure that investors will be under safe hands and gain more benefits.</p>
        <p class="home-paragraph">The second policy is to provide an opportunity to everyone by limiting the range of investment.</p>
        <p class="home-paragraph">We are working towards making our investors financially free.</p>
        <p class="home-paragraph">Not only the investment, Members can get referral benefits by introducing new members into the business.</p>
        <p class="home-paragraph">Unlike traditional marketing, Members can get ROI from day one of the investment.</p>
    </div>
    <div class="col-md-6 anim-top">
        <br />
        <img class="zoom-effect" src="~/images/vim1.jpeg" width="270px" height="200px" />
        <img class="zoom-effect" src="~/images/vim4.jpeg" width="270px" height="200px" />
        <img class="zoom-effect" src="~/images/vim2.png" width="270px" height="200px" />
        <img class="zoom-effect" src="~/images/vim3.jpeg" width="270px" height="200px" />
    </div>
</div>

