
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.contact-form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    margin-top: 10px;
}


@media only screen and (max-width: 414px) {
    .contact-form {
        width: 300px;
    }
}

