@model DreamLife.Models.Entities.AdminDashboard
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_LayoutAd";
}
<div class="row">
    <div class="col-12">
        <h2 class="loat-start mb-1">Admin Dashboard</h2>
    </div>
</div>
