@model List<DreamLife.Models.Entities.Transaction>
@{
    Layout = "_LayoutAd";
    var i = 1;
}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #13c1ad;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    .bt {
        background: #ff5722;
        border-radius:20px;
        border:0;
    }

    .bt:hover {
        background: #f73f04;
    }
</style>
<div style="overflow:auto">
    <h2>All Transactions</h2>
    <table>
        <tr>
            <th>S.No</th>
            <th>UserId</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.Id</td>
                <td>@transaction.UserName</td>
                <td>@transaction.Amount</td>
                <td>@transaction.UpdatedDate</td>
            </tr>
            i++;
        }
    </table>
</div>
