<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DreamLife</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DreamLife.styles.css" asp-append-version="true" />
    <style>
        .abtn {
            font-weight: bold;
            font-size: large;
            /* background: #f4f3ee; */
        }

            .abtn:hover {
                font-weight: 500;
                border: 3px solid #f8ec1c;
                border-radius:15px;
            }

        p {
            font-weight: 500;
        }

        .navbar-brand img {
            width: 200px;
            margin-right:20px;
        }

        .NotificationPanel {
            background-color: black;
            color: white;
            text-align: center;
            display: block;

        }

        .transition {
            transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
            transition-duration: 500ms;
            background-color: rgba(16, 185, 129, 0.6);
            border-radius: 9999px;
            width: 0;
            height: 0;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .btnrl:hover .transition {
            width: 14em;
            height: 14em;
        }

        .slide {
            display: none;
            padding: 6px 20px;
            font-style: italic;
            font-weight: bold;
        }

        .active {
            display: block;
        }


        .btnrl {
            padding: 0.5em 1.0em;
            font-weight: 500;
            position: relative;
            overflow: hidden;
            background:white;
        }

        .label {
            position: relative;
            top: -1px;
            color:black!important;
            text-decoration:none!important;
        }


        .btnrl:active {
            transform: scale(0.97);
        }

        .navbar{
            /* background: #016d3a; */
            background: linear-gradient(#016d3a,#94d353);
        }

        .register-login-buttons {
            position: fixed;
            top: 10px;
            right: 10px;
            z-index: 1000; 
        }

    </style>
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light ">
            <div class="container-fluid justify-content-start">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand mx-auto" asp-area="" asp-controller="" asp-action="">
                    <img class="img" src="~/images/dreamlifelogo.png" />
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark abtn" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark abtn" asp-area="" asp-controller="Home" asp-action="Vision">Vision</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark abtn" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark abtn" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="register-login-buttons">
                    <ul class="nav">
                        <li class="nav-item">
                            <button class="btnrl" style="border-radius: 25px;">
                                <span class="transition"></span>
                                <a class="label" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="btnrl" style="border-radius: 25px;">
                                <span class="transition"></span>
                                <a class="label" asp-area="" asp-controller="Account" asp-action="Login">Log In</a>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="NotificationPanel">
        <div>
            <div class="slide" id="slide1">
                Wanna fullfil your Dreams ? let's Explore
            </div>
            <div class="slide" id="slide2">
                Many exiting opportunities for you
            </div>
            <div class="slide" id="slide3">
                Wanna try ?
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - DreamLife - Private
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // Start with the first slide
            var currentSlide = 1;

            // Show the first slide
            $("#slide1").addClass("active");

            // Move to the next slide every 3 seconds
            setInterval(function () {
                // Hide current slide
                $("#slide" + currentSlide).removeClass("active");

                // Move to the next slide
                currentSlide++;
                if (currentSlide > 3) {
                    currentSlide = 1; // Loop back to the first slide
                }

                $("#slide" + currentSlide).addClass("active");
            }, 3000);
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
